@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("font-family/Google-Sans/style.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
	outline: none;
	vertical-align: baseline
}

:link, button {
	text-decoration: none;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

:link, :hover, :focus, :active, :visited {
	outline: none;
}

::-moz-selection {
	color: rgba(255, 255, 255);
	background: #1CC88A;
}

::selection {
	color: rgba(255, 255, 255);
	background: #1CC88A;
}

::-moz-selection {
	color: rgba(255, 255, 255);
	background: #1CC88A;
}

::-webkit-scrollbar-track {
	background: #FFF;
}

::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

::-webkit-scrollbar-thumb {
	background: #322E2F;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

iframe {
	width: 100%;
}

img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
}

ol, ul, li {
	list-style-type: none;
}

:root {
	--light: #E9EBEE;
	--dark: #322E2F;
	--blue: #5890FF;
	--pink: #FF3677;
	--green: #1CC88A;
	--radius: 4px;
	--black-rgb-87: rgba(0,0,0,0.87);
	--black-clr-87: #212121;
	--black-rgb-54: rgba(0,0,0,0.54);
	--black-clr-54: #757575;
	--black-rgb-38: rgba(0,0,0,0.38);
	--black-clr-38: #9E9E9E;
	--shadow-1: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
	--shadow-2: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.25);
}